.main-container {
  flex: 1;
  display: flex;
  gap: 20px;
}

.cv-preview-container,
.cv-form-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  border: thin solid grey;
  padding: 10px;
}

.cv-form-container {
  flex: 1;
  max-height: calc(100vh - 160px);
  overflow: scroll;
}

.other-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description-container,
.workexperience-container,
.education-container
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.work-experience, .education {
  display: flex;
  flex-direction: column;
}

.input-vals {
  display: flex;
  justify-content: space-between;
}

.input-subject {
  text-align: left;
}

.title {
  border-bottom: thin solid grey;
  padding-bottom: 3px;
}

/* CV form styles */
.label-input-group {
  display: flex;
  flex-direction: column;
}

.names {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.first-name, .last-name {
  flex: 1;
}

label {
  text-align: left;
}

button {
  width: 100%;
}