:root {
  --title: #0891b2;
}

.main-container {
  flex: 1;
  display: flex;
  gap: 20px;
  padding: 10px;
}

.cv-preview-container,
.cv-form-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  border: thin solid grey;
  padding: 10px;
}

.cv-form-container {
  flex: 1;
  max-height: calc(100vh - 80px);
  overflow: scroll;
  position: sticky;
  top: 0;
}

.description, .input-description {
  font-style: italic;
}

.input-description {
  text-align: left;
}

.input-subject{
  font-size: 0.8rem;
  padding-left: 10px;
}

.input-title {
  font-weight: bold;
}

.other-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description-container,
.workexperience-container,
.education-container
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.personalinfo-container, .input-vals {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.work-experience, .education {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-bottom: thin solid grey;
  padding-bottom: 20px;
}

.education {
  gap: 0px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.work-experiences, .educations {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-vals {
  display: flex;
  justify-content: space-between;
}

.input-subject {
  text-align: left;
}

.title {
  border-bottom: thin solid grey;
  padding-bottom: 3px;
  color: var(--title);
}

/* CV form styles */
.label-input-group {
  display: flex;
  flex-direction: column;
}

.names {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.first-name, .last-name {
  flex: 1;
}

label {
  text-align: left;
}

button {
  width: 100%;
}